<launch>
	<!-- Launch laser scanner tfs -->
 	<node pkg="dynamic_reconfigure" name="dynparam" type="dynparam" args="load tfBroadcaster $(find skippi_setup_tf)/yaml/arty_future_tf.yaml" />
	
	<!-- Launch laser scanner combiner -->
	<include file="$(find arty_lasers)/launch/three_lasers_combiner.launch"/>

	<!-- Launch wheelchair tf -->
	<!-- The below coords are found by looking straight ahead! dont forget this!! -->
	<node pkg="tf" type="static_transform_publisher" name="wheelchair_broadcaster" args="1 0 0.66 3.1416 -0.6 0 base_link xtion 100" />

	<!-- Launch head_pose_estimation-->
	<node pkg="head_pose" name="demo_head_pose_estimation" type="demo_head_pose_estimation" args="$(find head_pose)/src/config.txt"/>

	<!-- Launch head_pose listener -->
	<node pkg="head_listener" name="head_listener" type="listener.py" />

	<!-- Launch rviz -->
<!-- 	<node pkg="rviz" name="rviz" type="rviz"/> -->

	<!-- Launch goal finder -->
<!-- 	<node pkg="goal_finder" name="goal_finder" type="goal_finder.py" /> -->

</launch>

